
# Кэш импорта
.import/

# Служебные файлы Godot
.godot/

# Экспортированные сборки
export.cfg
export_presets.cfg

# Временные файлы
*.tmp
*.log

# Системные файлы
.DS_Store
Thumbs.db

# Mono / C# (если используешь)
.mono/
data_*/
*.csproj
*.sln
*.user
*.dotsettings

# Сборки
bin/
obj/

# IDE (по желанию)
.vscode/
.idea/